<header class="non-active">
    <nav class="navbar navbar-expand-lg " id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">POLO</a>
            <button class="navbar-toggler btn-toogle" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse nav navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home/homes">HOME</a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link" routerLink="/index/index">INDEX</a>
                        <ul class="ul">
                            <li><a routerLink="">
                                    <p>inside</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact/contact_page">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about/about_page">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio/portfolio_page">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/single/single_page">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/single/single_page">SHOP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
<section class="profile">
    <div class="conatiner-fluid">
          <div class="row">
          <div class="col-md-8 p-0">
             <div class="profile-bg">
                 <div class="profile-name">
                 <h1>Anastasia Doe</h1>
                 </div>
             </div>
          </div>
          <div class="col-md-4 p-0">
              <div class="text-box">
                  <h2>Anastasia Doe</h2>
                  <p>
                     <span> Professiona Developer</span>
                      The most happiest time of the day!. Morbi sagittis,
                       sem quis lacinia faucibus, orci ipsum gravida tortor,
                        vel interdum mi sapien ut justo. Nulla varius consequat magna,
                         id molestie ipsum volutpat quis. A true story, that never been told!.
                      Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest
                       time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci
                        ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius 
                        consequat magna, id molestie ipsum volutpat quis. A true story, that never
                         been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, 
                         facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus,
                       orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat 
                       magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce 
                       id mi diam, non ornare orci. Pellentesque ipsum erat,
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                       gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie
                        ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci.
                         Pellentesque ipsum erat,
                  </p>
                  <div class="right-box">
                      <div class="inner-right">
                          <div class="text-box-b">
                              <h1>HTML</h1>
                              <h2>100%</h2>
                          </div>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                      <div class="inner-right">
                          <div class="text-box-b">
                              <h1>CSS3</h1>
                              <h2>94%</h2>
                          </div>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="100"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                      <div class="inner-right">
                          <div class="text-box-b">
                              <h1>JQUERY</h1>
                              <h2>78%</h2>
                          </div>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="100"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                      <div class="inner-right">
                          <div class="text-box-b">
                              <h1>MYSQL</h1>
                              <h2>650%</h2>
                          </div>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="100"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                  </div>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest
                       time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci
                        ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius 
                        consequat magna, id molestie ipsum volutpat quis. A true story, that never
                         been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, 
                         facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>\
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                     <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
                  <p>
                      facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. 
                      Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                       sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true 
                       story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        facilisis ut venenatis eu, sodales vel dolor.
                  </p>
              </div>
             
              <div class="footer">
                  <hr>
                  <p>© 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.INSPIRO</p>
              </div>
          </div>
          </div>
    </div>
  </section>
