<header>
  <nav class="navbar navbar-expand-lg " id="navbar">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">POLO</a>
          <button class="navbar-toggler btn-toogle" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse nav navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/home/homes">HOME</a>
                  </li>
                  <li class="nav-item nav">
                      <a class="nav-link" routerLink="/index/index">INDEX</a>
                      <ul class="ul">
                          <li><a routerLink="">
                                  <p>inside</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                          <li><a routerLink="">
                                  <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                          <li><a routerLink="">
                                  <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                          <li><a routerLink="">
                                  <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                          <li><a routerLink="">
                                  <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                          <li><a routerLink="">
                                  <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                              </a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/contact/contact_page">CONTACT</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/about/about_page">ABOUT</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/portfolio/portfolio_page">PORTFOLIO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/single/single_page">BLOG</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/single/single_page">SHOP</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  </header>
<section class="banner">
    <div class="overlay">
    </div>
   <div class="container">
    <div class="row">
       <div class="col-md-12">
         <div class="banner-box">
             <p>WHO WE ARE </p>
              <h1>About our company</h1>
         </div>
       </div>
       <!-- <div class="col-md-12">
            <div class="bg-overlay">
            
            </div>
       </div> -->
    </div>
   </div>
</section>
<section class="company">
 <div class="container">
   <div class="row">
   <div class="col-md-3">
      <div class="box-a">
        <h1>THE COMPANY</h1>
      </div>
   </div>
     <div class="col-md-9">
         <div class="row">
        <div class="col-md-6">
            <div class="box-a">
              <p>
               The most happiest time of the day!. Morbi sagittis, sem quis
                lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                 Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, 
               that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
              </p>
              <p>
               facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!.
                Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien
                ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that 
                never been told!. Fusce id mi diam, non ornare orci. 
               Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
              </p>
            </div>
          </div>
          <div class="col-md-6">
             <div class="box-a">
                <p>
                   Pellentesque ipsum erat, facilisis ut venenatis eu, 
                   sodales vel dolor. The most happiest time of the day!.
                    Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor,
                     vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie 
                     ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam,
                      non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales
                       vel dolor. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                </p>
                <p>
                   The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                    gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie 
                    ipsum volut.
                </p>
             </div>
          </div>
          </div>
     </div>
   </div>
 </div>
</section>
<section class="development">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-4 p-0">
        <div class="box-a">
             <h1>01.</h1>
             <h2>CONCEPT</h2>
             <p>
                The most happiest time of the day!. Morbi sagittis, 
                sem quis lacinia faucibus, orci ipsum gravida tortor, 
                vel interdum mi sapien ut justo. Nulla varius consequat 
                magna, id molestie ipsum volutpat quis. A true story, 
                that never been told!.
             </p>
        </div>
       </div>
       <div class="col-md-4 p-0">
        <div class="box-a">
            <h1>02.</h1>
            <h2>DEVELOPMENT</h2>
            <p>
               The most happiest time of the day!. Morbi sagittis, 
               sem quis lacinia faucibus, orci ipsum gravida tortor, 
               vel interdum mi sapien ut justo. Nulla varius consequat 
               magna, id molestie ipsum volutpat quis. A true story, 
               that never been told!.
            </p>
       </div>
       </div>
       <div class="col-md-4 p-0">
        <div class="box-a">
            <h1>03.</h1>
            <h2>TESTING</h2>
            <p>
               The most happiest time of the day!. Morbi sagittis, 
               sem quis lacinia faucibus, orci ipsum gravida tortor, 
               vel interdum mi sapien ut justo. Nulla varius consequat 
               magna, id molestie ipsum volutpat quis. A true story, 
               that never been told!.
            </p>
       </div> 
       </div>
     </div>
   </div>
</section>
<section class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           <div class="team-inner">
               <h1>MEET OUR TEAM</h1>
               <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
           </div>
        </div>
      </div>  
     <div class="row justify-content-center">
       <div class="col-md-4 col-lg-3">
         <div class="inner-box">
             <div class="img-box">
               <img src="../../../assets/image/girl-a.jpg" class="img-fluid">
             </div>
             <div class="text-box">
               <h2>Alea Smith <span>Software Developer</span></h2>
               <p>Lorem ipsum dolor sit amet, consectetur 
                   adipiscing tristique hendrerit laoreet.</p>
                   <div class="center">
                      <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                      <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                      <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                      <!-- <a href="#"><i class="icon-mail"></i><span></span></a> -->
                    </div>
             </div>
         </div>
       </div>
       <div class="col-md-4 col-lg-3">
       <div class="inner-box">
        <div class="img-box">
            <img src="../../../assets/image/man-a.jpg" class="img-fluid">
            <div class="text-box">
              <h2>Alea Smith <span>Software Developer</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur 
                  adipiscing tristique hendrerit laoreet.</p>
                  <div class="center">
                      <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                      <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                      <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                      <!-- <a href="#"><i class="icon-mail"></i><span></span></a> -->
                    </div>
            </div>
        </div>
        </div>
       </div>
       <div class="col-md-4 col-lg-3">
          <div class="inner-box">
              <div class="img-box">
                  <img src="../../../assets/image/girl-b.jpg" class="img-fluid">
                  <div class="text-box">
                      <h2>Alea Smith <span>Software Developer</span></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur 
                          adipiscing tristique hendrerit laoreet.</p>
                          <div class="center">
                              <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                              <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                              <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                              <!-- <a href="#"><i class="icon-mail"></i><span></span></a> -->
                            </div>
                    </div>
              </div>
              </div>
       </div>
       <div class="col-md-4 col-lg-3">
          <div class="inner-box inner-box-margin ">
              <div class="img-box">
                  <img src="../../../assets/image/man-c.jpg" class="img-fluid">
                  <div class="text-box">
                      <h2>Alea Smith <span>Software Developer</span></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur 
                          adipiscing tristique hendrerit laoreet.</p>
                          <div class="center">
                              <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                              <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                              <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                              <!-- <a href="#"><i class="icon-mail"></i><span></span></a> -->
                            </div>
                    </div>
              </div>
              </div>
       </div>
     </div>
    </div>
  </section>
  <section class="slider">
    <div class="container">
     <div class="row">
     <div class="col-md-12">
     <div class="box">
       <h1>What people are saying!</h1>
       <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, 
           orci ipsum gravida tortor, vel interdum mi sapien ut justo.</p>
     </div>
     </div>
     </div>
     <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="slider-box">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="box">
                            <div class="img-box">
                               <img src="../../../../assets/image/img-box-img.jpg" class="img-fluid">
                            </div>
                            <div class="text-box">
                               <p>Polo is by far the most amazing template out there! I literally 
                                   could not be happier that I chose to buy this template!</p>
                                   <h3>Alan Monre</h3>
                                   <span>CEO, Square Software</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="box">
                            <div class="img-box">
                               <img src="../../../../assets/image/img-box-img.jpg" class="img-fluid">
                            </div>
                            <div class="text-box">
                               <p>Polo is by far the most amazing template out there! I literally 
                                   could not be happier that I chose to buy this template!</p>
                                   <h3>Alan Monre</h3>
                                   <span>CEO, Square Software</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="box">
                            <div class="img-box">
                               <img src="../../../../assets/image/img-box-img.jpg" class="img-fluid">
                            </div>
                            <div class="text-box">
                               <p>Polo is by far the most amazing template out there! I literally 
                                   could not be happier that I chose to buy this template!</p>
                                   <h3>Alan Monre</h3>
                                   <span>CEO, Square Software</span>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>  
        </div>
     </div>
    </div>
  </section>
