<header class="non-active">
    <nav class="navbar navbar-expand-lg " id="navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/">POLO</a>
            <button class="navbar-toggler btn-toogle" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse nav navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/homes">HOME</a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link" routerLink="/index/index">INDEX</a>
                        <ul class="ul">
                            <li><a routerLink="">
                                    <p>inside</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                            <li><a routerLink="">
                                    <p>insidelorem</p><span><i class="fas fa-caret-right"></i></span>
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact/contact_page">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about/about_page">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio/portfolio_page">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/single/single_page">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/single/single_page">SHOP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
