<section class="inner-a">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="inner-img">
                    <div class="img-box">
                        <img src="../../../assets/image/first-img.jpg" class="img-fluid first">
                        <div class="img-overlay">
                            <a href=""><i class="fa fa-expand"></i></a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/image/secong-img.jpg" class="img-fluid second">
                        <div class="img-overlay-b">
                            <a href="">
                                <p>STOCKHOLM FASHION<span>Graphics</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner-img inner-b">
                    <div class="img-box">
                        <img src="../../../assets/image/mid-img.jpg" class="img-fluid ">
                        <div class="img-overlay-b">
                            <a href="">
                                <p>STOCKHOLM FASHION<span>Graphics</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner-img inner-c">
                    <div class="img-box">
                        <img src="../../../assets/image/fourth-img.jpg" class="img-fluid first">
                        <div class="img-overlay-b">
                            <a href="">
                                <p>STOCKHOLM FASHION<span>Graphics</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="inner-img">
                        <div class="img-box">
                            <img src="../../../assets/image/chair.jpg" class="img-fluid second">
                            <div class="img-overlay-b">
                                <a href="">
                                    <p>STOCKHOLM FASHION<span>Graphics</span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="left-box">
                    <h1>ABOUT US</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Repudiandae quos saepe incidunt perspiciatis minima fuga blanditiis
                        quas eaque in explicabo,
                        expedita reiciendis quod dolore cum assumenda temporibus. Soluta,
                        numquam tempore.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, alias.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ut.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, iusto
                        asperiores distinctio facere qui
                        voluptates quos minima. Ratione, facilis quam!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-box">
                    <div class="inner-right">
                        <div class="text-box">
                            <h1>HTML</h1>
                            <h2>100%</h2>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="inner-right">
                        <div class="text-box">
                            <h1>CSS3</h1>
                            <h2>94%</h2>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="inner-right">
                        <div class="text-box">
                            <h1>JQUERY</h1>
                            <h2>78%</h2>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="inner-right">
                        <div class="text-box">
                            <h1>MYSQL</h1>
                            <h2>650%</h2>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="inner-box">
                        <a href="#"><i class="fa fa-3x fa-code"></i></a>
                        <h2>12416</h2>
                    </div>
                    <p>Lines of Code</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="inner-box">
                        <a href="#"><i class="fa fa-3x fa-coffee"></i></a>
                        <h2>12416</h2>
                    </div>
                    <p>Lines of Code</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="inner-box">
                        <a href="#"><i class="fa fa-3x fa-rocket"></i></a>
                        <h2>12416</h2>
                    </div>
                    <p>Lines of Code</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="inner-box">
                        <a href="#"><i class="fa fa-3x fa-code"></i></a>
                        <h2>12416</h2>
                    </div>
                    <p>Lines of Code</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="box">
                <h1>OUR SERVICES</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laudantium?  </p>
              </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
             <div class="box-inner">
               <div class="png">
                 <a href="#"><i class="fa fa-plug"></i></a>
               </div>
               <div class="text-box" >
               <h2>Powerfull template</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Laudantium harum nostrum sint sit obcaecati aut alias! 
                </p> 
               </div>
             </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box-inner ">
                <div class="png">
                  <a href="#"><i class="fa fa-desktop"></i></a>
                </div>
                <div class="text-box">
                <h2>Powerfull template</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Laudantium harum nostrum sint sit obcaecati aut alias! 
                 </p> 
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="box-inner">
                <div class="png">
                  <a href="#"><i class="fa fa fa-cloud"></i></a>
                </div>
                <div class="text-box">
                <h2>Powerfull template</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Laudantium harum nostrum sint sit obcaecati aut alias! 
                 </p> 
                </div>
              </div>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
               <div class="box-inner">
                 <div class="png">
                   <a href="#"><i class="fa fa-plug"></i></a>
                 </div>
                 <div class="text-box">
                 <h2>Powerfull template</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laudantium harum nostrum sint sit obcaecati aut alias! 
                  </p> 
                 </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-inner">
                  <div class="png">
                    <a href="#"><i class="fa fa-desktop"></i></a>
                  </div>
                  <div class="text-box">
                  <h2>Powerfull template</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Laudantium harum nostrum sint sit obcaecati aut alias! 
                   </p> 
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="box-inner">
                  <div class="png">
                    <a href="#"><i class="fa fa fa-cloud"></i></a>
                  </div>
                  <div class="text-box">
                  <h2>Powerfull template</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Laudantium harum nostrum sint sit obcaecati aut alias! 
                   </p> 
                  </div>
                </div>
          </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
               <div class="box-inner">
                 <div class="png">
                   <a href="#"><i class="fa fa-plug"></i></a>
                 </div>
                 <div class="text-box">
                 <h2>Powerfull template</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laudantium harum nostrum sint sit obcaecati aut alias! 
                  </p> 
                 </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-inner">
                  <div class="png">
                    <a href="#"><i class="fa fa-desktop"></i></a>
                  </div>
                  <div class="text-box">
                  <h2>Powerfull template</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Laudantium harum nostrum sint sit obcaecati aut alias! 
                   </p> 
                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="box-inner">
                  <div class="png">
                    <a href="#"><i class="fa fa fa-cloud"></i></a>
                  </div>
                  <div class="text-box">
                  <h2>Powerfull template</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Laudantium harum nostrum sint sit obcaecati aut alias! 
                   </p> 
                  </div>
                </div>
          </div>
          </div>
        
    </div>
</section>
<section class="clients">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="inner-box">
                   <h1>OUR CLIENTS</h1>
                   <p>Our awesome clients We've had the pleasuretow work with!</p>
              </div>
           </div>
        </div>
     <div class="row">
      <div class="col-md-12">
        <div class="google-box">
            <div class="box-a">
              <img src="../../../assets/image/1.png" class="img-fluid">
            </div>
            <div class="box-a">
               <img src="../../../assets/image/2.png" class="img-fluid">
            </div>
            <div class="box-a">
               <img src="../../../assets/image/3.png" class="img-fluid">
            </div>
            <div class="box-a">
               <img src="../../../assets/image/4.png" class="img-fluid">
            </div> 
            <div class="box-a">
               <img src="../../../assets/image/5.png" class="img-fluid">
            </div> 
        </div>
         <div class="google-box">
             <div class="box-a">
               <img src="../../../assets/image/6.png" class="img-fluid">
             </div>
             <div class="box-a">
                <img src="../../../assets/image/7.png" class="img-fluid">
             </div>
             <div class="box-a">
                <img src="../../../assets/image/8.png" class="img-fluid">
             </div>
             <div class="box-a">
                <img src="../../../assets/image/9.png" class="img-fluid">
             </div> 
             <div class="box-a">
                <img src="../../../assets/image/10.png" class="img-fluid">
             </div> 
         </div>
       
      </div>
     </div>
    </div>
</section>
<section class="blog">
 <div class="container">
     <div class="row">
       <div class="col-md-12">
             <div class="inner-blog">
                 <h1>OUR BLOG</h1>
                 <p>We do blogging sometimes!</p>
             </div>
       </div>
     </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
       <div class="blog-box">
       <div class="img-box">
         <img src="../../../assets/image/bg-a.jpg" class="img-fluid">
         <button class="btn">Lifestyle</button>
       </div>
       <div class="text-box">
         <a href="#"><span>Jan 21,2017 33 Comments</span>
            <h2>Standard post with a single image</h2>
        </a>
         
         <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eligendi?
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aut.
         </p>
         <a href="#">READ MORE<i class="fa fa-arrow-right"></i></a>
       </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="blog-box">
        <div class="img-box">
          <img src="../../../assets/image/cup.jpg" class="img-fluid">
          <button class="btn">Science</button>
        </div>
        <div class="text-box">
          <a href="#"><span>Jan 21,2017 33 Comments</span>
             <h2>Standard post with a single image</h2>
         </a>
          
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eligendi?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aut.
          </p>
          <a href="#">READ MORE<i class="fa fa-arrow-right"></i></a>
        </div>
        </div>
     </div>
     <div class="col-md-6 col-lg-4">
        <div class="blog-box blog-margin">
        <div class="img-box">
          <img src="../../../assets/image/light.jpg" class="img-fluid">
          <button class="btn">Science</button>
        </div>
        <div class="text-box">
          <a href="#"><span>Jan 21,2017 33 Comments</span>
             <h2>Standard post with a single image</h2>
         </a>
          
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eligendi?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aut.
          </p>
          <a href="#">READ MORE<i class="fa fa-arrow-right"></i></a>
        </div>
        </div>
     </div>
  </div>
 </div>
</section>