<section class="banner">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-banner">
<h1>Shopping Cart</h1>
<p>Shopping details</p>
<div class="banner-btn">
<a routerLinkActive=""  routerLink="">Home<i class="fa-solid fa-angle-right"></i></a>
<a routerLinkActive=""  routerLink="">Shop<i class="fa-solid fa-angle-right"></i></a>
<a routerLinkActive="active"  routerLink="/shoping/shoping_page">Shopping Cart</a>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="shop">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-a">
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="a-tr">
            <th scope="row"><a routerLink=""><i class="fa-solid fa-x"></i></a></th>
            <td><a routerLink=""><img src="../../../assets/image/table-a.jpg"><span>
                Bolt Sweatshirt</span></a></td>
            <td><p>	
                Bolt Sweatshirt</p>
                <p>Size: M</p>
                <p>Color: Blue</p>
                <p>Gender: Women</p>
            </td>
            <td>$20.00</td>
            <td>
                <div class="btn">
                 <input type="button" class="minus" value="-">
                 <input type="text" class="qty" value="1" name="quantity">
                 <input type="button" class="plua" value="+">
                </div>
            </td>
            <td>
                $20.00
            </td>
          </tr>
          <tr class="b-tr">
            <th scope="row"><a routerLink=""><i class="fa-solid fa-x"></i></a></th>
            <td><a routerLink=""><img src="../../../assets/image/table-a.jpg"><span>
                Bolt Sweatshirt</span></a></td>
            <td><p>	
                Bolt Sweatshirt</p>
                <p>Size: M</p>
                <p>Color: Blue</p>
                <p>Gender: Women</p>
            </td>
            <td>$20.00</td>
            <td>
                <div class="btn">
                 <input type="button" class="minus" value="-">
                 <input type="text" class="qty" value="1" name="quantity">
                 <input type="button" class="plua" value="+">
                </div>
            </td>
            <td>
                $20.00
            </td>
          </tr>
          <tr class="a-tr">
            <th scope="row"><a routerLink=""><i class="fa-solid fa-x"></i></a></th>
            <td><a routerLink=""><img src="../../../assets/image/table-a.jpg"><span>
                Bolt Sweatshirt</span></a></td>
            <td><p>	
                Bolt Sweatshirt</p>
                <p>Size: M</p>
                <p>Color: Blue</p>
                <p>Gender: Women</p>
            </td>
            <td>$20.00</td>
            <td>
                <div class="btn">
                 <input type="button" class="minus" value="-">
                 <input type="text" class="qty" value="1" name="quantity">
                 <input type="button" class="plua" value="+">
                </div>
            </td>
            <td>
                $20.00
            </td>
          </tr>
          <tr class="b-tr">
            <th scope="row"><a routerLink=""><i class="fa-solid fa-x"></i></a></th>
            <td><a routerLink=""><img src="../../../assets/image/table-a.jpg"><span>
                Bolt Sweatshirt</span></a></td>
            <td><p>	
                Bolt Sweatshirt</p>
                <p>Size: M</p>
                <p>Color: Blue</p>
                <p>Gender: Women</p>
            </td>
            <td>$20.00</td>
            <td>
                <div class="btn">
                 <input type="button" class="minus" value="-">
                 <input type="text" class="qty" value="1" name="quantity">
                 <input type="button" class="plua" value="+">
                </div>
            </td>
            <td>
                $20.00
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-box">
        <div class="box-left">
             <div class="inner-btn">
               <input type="text" placeholder="Coupon Code">
               <button>APPLY</button>
             </div>
             <p>Enter any valid coupon or promo code here to redeem your discount.</p>
        </div>
        <div class="box-right">
          <button>UPDATE CARD</button>
        </div>
      </div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="left-box">
    <h2>Calculate Shipping</h2>
<form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="form-inside">
         <input placeholder="State / Country" type="text"/>
         <input placeholder="Post Code / Zip" type="text">
      </div>
    
</form>
</div>
</div>
<div class="col-md-6">
<div class="right-box">
<h2>Cart Subtotal</h2>
<div class="box-a">
 <p>Shipping<span>$125.96</span></p>
</div>
<div class="box-a">
    <p>Coupon<span>$125.96</span></p>
   </div>
   <div class="box-a">
    <p>Total<span>$125.96</span></p>
   </div>
   <button>PROCEED TO CHECKOUT</button>
</div>
</div>
</div>
</div>
</section>
