<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="box-a">
                  <h2>POLO HTML5 TEMPLATE</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Pariatur beatae tenetur odio, sed ullam dolorum?
                  </p>
                  <button class="btn">PURCHASE NOW</button>
              </div>
            </div>
            <div class="col-md-2">
                <div class="box-b">
              <ul>
                  <li><span>DISCOVER</span></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Layouts</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Layouts</a></li>
                  <li><a href="#">Features</a></li>
                  <!-- <li><a href="#">Layouts</a></li> -->
              </ul>
              </div>
            </div>
            <div class="col-md-2">
                <div class="box-b">
                    <ul>
                        <li><span>DISCOVER</span></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Layouts</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Layouts</a></li>
                        <li><a href="#">Features</a></li>
                        <!-- <li><a href="#">Layouts</a></li> -->
                    </ul>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="box-b">
                    <ul>
                        <li><span>DISCOVER</span></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Layouts</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Layouts</a></li>
                    </ul>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="box-b">
                    <ul>
                        <li><span>DISCOVER</span></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Layouts</a></li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</footer>

