<section class="main">
    <div class="container">
        <div class="row justify-content-center">
         <div class="col-md-12 col-lg-8">
            <div class="left-box">
                <div class="box-a">
                <img src="../../../assets/image/blog-girl.jpg" class="img-fluid">
                <h1>Standard post with a single image</h1>
                <div class="inner-icon">
                   <div class="text-icon">
                    <a routerLink="">Jan 21, 2017 <span> 33 Comments</span><i class="fa fa-tag"></i>Lifestyle, Magazine</a>
                   </div>
                    <div class="center">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                        <a href="#" class="instgram"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                        <!-- <a href="#"><i class="icon-mail"></i><span></span></a> -->
                      </div>
                   <!-- <a routerLink=""><i class="icon-mail"></i></a> -->
                   </div>
                   <hr>
                   <p>
                    Curabitur pulvinar euismod ante, ac sagittis ante posuere ac.
                     Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula
                      pharetra laoreet. Ut nec metus a mi ullamcorper hendrerit. Nulla facilisi.
                       Pellentesque sed nibh a quam accumsan dignissim quis quis urna. The most happiest
                        time of the day!. Praesent id dolor dui, dapibus gravida elit. Donec consequat laoreet
                         sagittis. Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet tincidunt. 
                         Mauris interdum convallis metus.M
                   </p>
                   <div class="p-a">
                      <p>
                        The world is a dangerous place to live; not because of the people who
                         are evil, but because of the people who don't do anything about it.
                      </p>
                      <h3>by Albert Einstein</h3>
                   </div>
                   <p>
                    The most happiest time of the day!. Praesent id dolor 
                    dui, dapibus gravida elit. Donec consequat laoreet sagittis.
                     Suspendisse ultricies ultrices viverra. Morbi rhoncus laoreet 
                     tincidunt. Mauris interdum convallis metus. Suspendisse vel lacus
                      est, sit amet tincidunt erat. Etiam purus sem, euismod eu vulputate 
                      eget, porta quis sapien. Donec tellus est, rhoncus vel scelerisque id, iaculis eu nibh.
                   </p>
                   <p>
                    Donec posuere bibendum metus. Quisque gravida luctus volutpat. Mauris interdum, lectus in 
                    dapibus molestie, quam felis sollicitudin mauris, sit amet tempus velit lectus nec lorem. 
                    Nullam vel mollis neque. The most happiest time of the day!. Nullam vel enim dui. Cum sociis 
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt accumsan
                     massa id viverra. Sed sagittis, nisl sit amet imperdiet convallis, nunc tortor consequat tellus,
                      vel molestie neque nulla non ligula. Proin tincidunt tellus ac porta volutpat. Cras mattis congue
                       lacus id bibendum. Mauris ut sodales libero. Maecenas feugiat sit amet enim in accumsan.
                   </p>
                   <p>
                    Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa 
                    sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus 
                    tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. 
                    Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.
                   </p>
                   <div class="button">
                     <a routerLink="">Life</a>
                     <a routerLink="">Sport</a>
                     <a routerLink="">Tech</a>
                     <a routerLink="">Travel</a>
                   </div>
                   <hr>
                   <div class="post">
                      <div class="privous">
                        <span>PREVIOUS POST</span>
                        <p>Post With a slider and lightbox</p>
                      </div>
                      <a routerLink=""><i class="fa-solid fa-grid-2"></i></a>
                      <div  class="privous">
                       <span>NEXT POST</span>
                       <p>Post with Youtube Video</p>
                       <!-- <i class="fa-solid fa-chevron-left"></i> -->
                      </div>
                   </div>
                   <hr>
                </div>
               <div class="comments">
                   <h2>Comments<span>(2)</span></h2>
                   <div class="inner-comment">
                         <div class="box-comment">
                            <div class="img-box">
                                  <img src="../../../assets/image/comment-a.jpg" class="img-fluid">  
                            </div>
                            <div class="text-box">
                                  <h3>John Doe</h3>
                                  <span>Posted at 15:32h, 06 December</span>
                                  <a routerLink="">Reply</a>
                                   <div class="text-content">
                                   <p> Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the 
                                    industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survive
                                    d not only five centuries, but also the leap into electro
                                    nic typesetting, remaining essentially unchanged. It was 
                                    popularised in the 1960s with the release of Letraset she
                                    ets containing Lorem Ipsum passages, and more recently wi
                                    th desktop publishing software like Aldus PageMaker inclu
                                    ding versions of Lorem Ipsum.</p>
                                   </div>
                            </div>
                         </div>
                         <div class="box-comment-b">
                            <div class="img-box">
                                  <img src="../../../assets/image/author-img.jpg" class="img-fluid">  
                            </div>
                            <div class="text-box">
                                  <h3>John Doe</h3>
                                  <span>Posted at 15:32h, 06 December</span>
                                  <a routerLink="">Reply</a>
                                   <div class="text-content">
                                   <p> Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the 
                                    industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survive
                                    d not only five centuries, but also the leap into electro
                                    nic typesetting, remaining essentially unchanged. It was 
                                    popularised in the 1960s with the release of Letraset she
                                    ets containing Lorem Ipsum passages, and more recently wi
                                    th desktop publishing software like Aldus PageMaker inclu
                                    ding versions of Lorem Ipsum.</p>
                                   </div>
                            </div>
                         </div>
                         <div class="box-comment-b">
                            <div class="img-box">
                                  <img src="../../../assets/image/girl-2.jpg" class="img-fluid">  
                            </div>
                            <div class="text-box">
                                  <h3>John Doe</h3>
                                  <span>Posted at 15:32h, 06 December</span>
                                  <a routerLink="">Reply</a>
                                   <div class="text-content">
                                   <p> Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the 
                                    industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survive
                                    d not only five centuries, but also the leap into electro
                                    nic typesetting, remaining essentially unchanged. It was 
                                    popularised in the 1960s with the release of Letraset she
                                    ets containing Lorem Ipsum passages, and more recently wi
                                    th desktop publishing software like Aldus PageMaker inclu
                                    ding versions of Lorem Ipsum.</p>
                                   </div>
                            </div>
                         </div>
                         <div class="box-comment">
                            <div class="img-box">
                                  <img src="../../../assets/image/comment-a.jpg" class="img-fluid">  
                            </div>
                            <div class="text-box">
                                  <h3>John Doe</h3>
                                  <span>Posted at 15:32h, 06 December</span>
                                  <a routerLink="">Reply</a>
                                   <div class="text-content">
                                   <p> Lorem Ipsum is simply dummy text of the printing 
                                    and typesetting industry. Lorem Ipsum has been the 
                                    industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survive
                                    d not only five centuries, but also the leap into electro
                                    nic typesetting, remaining essentially unchanged. It was 
                                    popularised in the 1960s with the release of Letraset she
                                    ets containing Lorem Ipsum passages, and more recently wi
                                    th desktop publishing software like Aldus PageMaker inclu
                                    ding versions of Lorem Ipsum.</p>
                                   </div>
                            </div>
                         </div>
                   </div>
                   <div class="comment-form">
                      <h2>Leave a <span>Comment</span></h2>
                      <form>
                          <div class="form-a">
                            <div class="name">
                              <label>Name</label>
                              <input type="text" placeholder="Enter name"/>
                            </div> 
                            <div class="name">
                               <label>Email</label>
                               <input type="email" placeholder="Enter email">
                            </div>
                            <div class="name">
                               <label>Website</label>
                               <input placeholder="Enter Website" type="text" />
                            </div>
                          </div>
                          <div class="text-area">
                              <label>Your Comment</label>
                              <textarea class="form-control" rows="9" placeholder="Enter Comment" id="floatingTextarea"></textarea>
                          </div>
                          <button>SUBMIT COMMENT</button>
                      </form>
                   </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-lg-4">
          <div class="right-box right">
              <div class="right-inner" id="inner">
            <div class="news">
                <div class="input">
                <input placeholder="Search for pages..">
                 <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <hr>
            <div class="recent-post">
                <h2>RECENT POSTS</h2>
                <div class="box-a">
                   <div class="img-box">
                    <img src="../../../../assets/image/recent-post.jpg" class="img-fluid">
                   </div>
                   <div class="text-box">
                    <p>A true story, that  never <span> been told!</span></p>
                     <span class="clock">
                         <i class="icon-clock"></i>
                         6m ago
                     </span>
                     <span class="category">
                        <i class="fa fa-tag"></i>
                        Technology
                     </span>
                   </div>
                </div>
                <div class="box-a">
                  <div class="img-box">
                   <img src="../../../../assets/image/second-port.jpg" class="img-fluid">
                  </div>
                  <div class="text-box">
                   <p>A true story, that never <span>  been told!</span></p>
                    <span class="clock">
                        <i class="icon-clock"></i>
                        6m ago
                    </span>
                    <span class="category">
                       <i class="fa fa-tag"></i>
                       Technology
                    </span>
                  </div>
               </div>
               <div class="box-a">
                  <div class="img-box">
                   <img src="../../../../assets/image/third.jpg" class="img-fluid">
                  </div>
                  <div class="text-box">
                   <p>A true story, that never<span>  been told!</span></p>
                    <span class="clock">
                        <i class="icon-clock"></i>
                        6m ago
                    </span>
                    <span class="category">
                       <i class="fa fa-tag"></i>
                       Technology
                    </span>
                  </div>
               </div>
               <hr>
            
            </div>
            <div class="tweets">
                 <h2>RECENT TWEETS</h2>
                 <div class="inner-tweets">

                 </div>
                 <hr>
            </div>
            <div class="tag">
               <div class="tag-inner">
                   <h2>TAGS</h2>
                   <ul>
                       <li><a routerLink="">Design</a></li>
                       <li> <a routerLink="">Portfolio</a></li>
                   </ul>
                   <ul>
                       <li><a routerLink="">Digital</a></li>
                       <li><a routerLink="">Branding</a></li>
                   </ul>
                   <ul>
                       <li><a routerLink="">HTML</a></li>
                       <li><a routerLink="">Clean</a></li>
                   </ul>
                   <ul>
                       <li><a routerLink="">Peace</a></li>
                       <li> <a routerLink="">Css3</a></li>
                       <li><a routerLink="">Jquery</a></li>
                   </ul>
               </div>
            </div> 
            </div>
          </div>
         </div>
        </div>
    </div>                
</section>
